@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,300&display=swap');

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif !important;
  background-color: rgb(198, 233, 224)!important;
}
.card{
  background-color: #c6d8f7!important;
}